@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: "apple-font";
    src: url("fontes/MOTTEK.TTF") format("opentype");
    font-weight: normal;
}

:root{

    --Cor-Escura: #00395C;
    --Cor-Principal: #0187DC;
    --Cor-Clara: #44A5E1;
    
    --fonte-paragrafo: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-titulo: "apple-font", "Cursive";


}  

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #e7e7e7;
    font-family: var(--fonte-paragrafo);
}

header{
    height: 100px;
    background-image: linear-gradient(to top, var(--Cor-Escura), var(--Cor-Principal) );
    color: white;
    padding: 25px;
}

header h1{
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin: auto;
    width: 450px;
}

header p{
    text-align: center;
}

nav{
    background-color: var(--Cor-Escura);
    height: 35px;
}

nav a{
    color: white;
    text-decoration: none;
    padding-left: 25px;
}

main{
    background-color: white;
    margin: auto;
    padding: 24px;

    min-width: 320px;
    max-width: 1400px;
    box-shadow: 0px 5px 20px 1px rgba(0, 0, 0, 0.295);
}

main h1, h2{
    font-family: var(--fonte-titulo);
    padding: 20px;

}

main img{
    margin: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imagem-responsiva{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

main div{
    background-color: var(--Cor-Escura);
    padding: 50px;
    padding-bottom: 40%;
    margin: 0px -25px 0px -25px;  
    position: relative;
}

iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

footer{
    background-color: var(--Cor-Escura);
    color: white;
}
